{% extends 'base/base.html' %}
  {% load static %}
  {% block content %}

<h1>Hojas de Vida</h1>



<table class="table" align="left">
    <thead class="thead-dark" align="left">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">identification card</th>
        <th scope="col">birth date</th>
        <th scope="col">Gender</th>
        <th scope="col">marital status</th>
        <th scope="col">Phone</th>
        <th scope="col">City</th>
        <th scope="col">edit</th>
        <th scope="col">visibility</th>
      </tr>
    </thead>
    <tbody>
      {% for cv in object_list %}
      <tr>
        <td>{{ cv.id }}</td>
        <td>{{ cv.nombre }}</td>
        <td>{{ cv.apellido }}</td>
        <td>{{ cv.ceduala }}</td>
        <td>{{ cv.fecha_nacimiento }}</td>
        <td>{{ cv.genero }}</td>
        <td>{{ cv.estado_civil }}</td>
        <td>{{ cv.telefono }}</td>
        <td>{{ cv.Departamento }}</td>
        <td>
            <a href="{% url 'editar' cv.id %}">
                <i class="material-icons">mode_edit</i>
            </a>
        </td>
        <td>
            <a href="{% url 'Detail' cv.id %}">
                <i class="material-icons">visibility</i>
            </a>
        </td>
      </tr>
      {% endfor %}
      <div class="fixed-action-btn">
          <a href="{% url 'crear' %}" class="btn-floating btn-large red">
              <i class="large material-icons">+</i>
          </a>
      </div>
    </tbody>
  </table>


{% endblock %}
