{% extends 'base/base.html' %}
  {% load static %}
  {% block content %}

        <div class="row">
          <div class="col-md-3"></div>
            <div class="col-md-6 login-form-1">
              <h3>Iniciar Sesión en CVapp</h3>
              <form method="post">
                {% csrf_token %}
                {{form.as_p}}
                <div class="form-group" style="text-align:center;">
                  <input type="submit" class="btn btn-outline-success" value="Registrarse" />
                </div>

              </form>
            </div>
            <div class="col-mod-3"></div>
         </div>

{% endblock %}
